<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>686503363477-0cpb5nk24l48m85rnigo5jchi3chrl9l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.686503363477-0cpb5nk24l48m85rnigo5jchi3chrl9l</string>
	<key>API_KEY</key>
	<string>AIzaSyCJ0G9PCdskrHcWJj3ujcbp_jC19xiebzI</string>
	<key>GCM_SENDER_ID</key>
	<string>686503363477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.isprouts</string>
	<key>PROJECT_ID</key>
	<string>maketheproject-f7f9e</string>
	<key>STORAGE_BUCKET</key>
	<string>maketheproject-f7f9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:686503363477:ios:1f96f2338a9ade7b53ec9c</string>
</dict>
</plist>